# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
podcast_clipper/
env/
venv/
ENV/
env.bak/
venv.bak/

# Data files
*.mp4
*.mp3
*.wav
*.avi
*.mov
data/raw/
data/processed/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
